*,
*::after,
*::before {
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Circe", sans-serif;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 340px;
}
@media (max-width: 1820px) {
  .container {
    padding: 0 212px;
  }
}
@media (max-width: 1400px) {
  .container {
    padding: 0 100px;
  }
}
@media (max-width: 1250px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 1000px) {
  .container {
    padding: 0 25px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 18px;
  }
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.main {
  flex-grow: 1;
}

.wrap {
  background-color: rgba(41, 84, 177, 0.82);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: #214080;
  font-weight: 700;
}

p {
  color: #000000;
  font-weight: 400;
}

button {
  font-family: "Circe", sans-serif;
}

h1 {
  font-size: 80px;
}
@media (max-width: 1250px) {
  h1 {
    font-size: 60px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 52px;
  }
}
@media (max-width: 550px) {
  h1 {
    font-size: 36px;
  }
}

h4 {
  font-size: 30px;
}
@media (max-width: 550px) {
  h4 {
    font-size: 14px;
  }
}

.header {
  padding: 28px 0 27px;
  color: white;
  position: relative;
}
@media (max-width: 1000px) {
  .header {
    padding: 33px 0 27px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 26px 0 19px;
  }
}
@media (max-width: 768px) {
  .header {
    padding: 20px 0 19px;
  }
}
.header .container {
  padding: 0 315px 0 340px;
  display: flex;
  justify-content: space-between;
  gap: 84px;
  align-items: center;
}
@media (max-width: 1820px) {
  .header .container {
    padding: 0 212px;
  }
}
@media (max-width: 1400px) {
  .header .container {
    padding: 0 100px;
  }
}
@media (max-width: 1250px) {
  .header .container {
    padding: 0 40px;
  }
}
@media (max-width: 1000px) {
  .header .container {
    padding: 0 25px;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .header .container {
    padding: 0 18px;
  }
}
@media (max-width: 750px) {
  .header .container {
    gap: 30px;
  }
}
@media (max-width: 650px) {
  .header .container {
    padding: 0 12px;
  }
}
.header-logo__img {
  width: 123px;
  height: 44px;
}
@media (max-width: 1440px) {
  .header-logo__img {
    width: 105px;
    height: 38px;
  }
}
@media (max-width: 1000px) {
  .header-logo__img {
    width: 99px;
    height: 35px;
  }
}
@media (max-width: 768px) {
  .header-logo__img {
    width: 86px;
    height: 30px;
  }
}
@media (max-width: 650px) {
  .header-logo__img {
    width: 63px;
    height: 24px;
  }
}
.header-wrap {
  max-width: 900px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1440px) {
  .header-wrap {
    max-width: 803px;
  }
}
@media (max-width: 1000px) {
  .header-wrap {
    max-width: 720px;
  }
}
@media (max-width: 850px) {
  .header-wrap {
    max-width: 600px;
  }
}
@media (max-width: 768px) {
  .header-wrap {
    max-width: 570px;
  }
}
@media (max-width: 650px) {
  .header-wrap {
    display: none;
  }
}
.header-hamburger {
  display: none;
}
@media (max-width: 650px) {
  .header-hamburger {
    display: block;
  }
}
.header-hamburger:hover {
  cursor: pointer;
}
.header-nav {
  flex-shrink: 0;
}
.header-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
.header-nav__list a {
  color: white;
  font-size: 20px;
}
@media (max-width: 1600px) {
  .header-nav__list {
    gap: 40px;
  }
}
@media (max-width: 1250px) {
  .header-nav__list a {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  .header-nav__list {
    gap: 30px;
  }
  .header-nav__list a {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .header-nav__list {
    gap: 25px;
  }
  .header-nav__list a {
    font-size: 13px;
  }
}
.header-nav__item {
  flex-shrink: 0;
}
.header-call {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.header-call__number {
  color: white;
  font-weight: 700;
  font-size: 22px;
}
@media (max-width: 1250px) {
  .header-call .header-call__number {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  .header-call .header-call__number {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .header-call .header-call__number {
    font-size: 13px;
  }
}
.header-line__img {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
}
.header-sidebar {
  transition: 0.5s;
  transform: translateX(100%);
  width: 253px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: #214080;
  box-shadow: 0px 20px 20px 0px #214080;
  z-index: 11;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 14px 12px;
  text-align: end;
}
.header-sidebar__img {
  transform: rotate(90deg);
  margin-bottom: 54px;
}
.header-sidebar__img:hover {
  cursor: pointer;
}
.header-sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  margin-bottom: 30px;
}
.header-sidebar__list a {
  font-size: 15px;
  color: white;
}
.header-sidebar__call {
  display: flex;
}
.header-sidebar__call img {
  width: 23px;
  height: 23px;
}
.header-sidebar__number {
  color: white;
  font-weight: 700;
}

.show {
  transform: translateX(0);
}

.overlay {
  display: none;
}

.overlay.show {
  display: block;
  top: 0;
  left: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.hero {
  padding: 52px 0 105px;
  color: white;
}
@media (max-width: 1140px) {
  .hero {
    padding: 52px 0 74px;
  }
}
@media (max-width: 1000px) {
  .hero {
    padding: 84px 0 108px;
  }
}
@media (max-width: 768px) {
  .hero {
    padding: 48px 0 38px;
  }
}
@media (max-width: 650px) {
  .hero {
    margin-top: 16px;
    padding: 19px 0 0px;
    background-image: url("../../images/hero-mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right 0;
  }
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  padding: 0 315px 0 340px;
}
@media (max-width: 1820px) {
  .hero .container {
    padding: 0 212px;
  }
}
@media (max-width: 1400px) {
  .hero .container {
    padding: 0 100px;
  }
}
@media (max-width: 1250px) {
  .hero .container {
    padding: 0 40px;
  }
}
@media (max-width: 1000px) {
  .hero .container {
    padding: 0 0 0 25px;
  }
}
@media (max-width: 768px) {
  .hero .container {
    padding: 0 0 0 18px;
    gap: 11px;
  }
}
@media (max-width: 650px) {
  .hero .container {
    padding: 0 12px;
  }
}
.hero-info {
  max-width: 524px;
  width: 100%;
  flex-shrink: 0;
}
@media (max-width: 1250px) {
  .hero-info {
    max-width: 385px;
  }
}
@media (max-width: 768px) {
  .hero-info {
    max-width: 331px;
  }
}
@media (max-width: 550px) {
  .hero-info {
    max-width: 193px;
  }
}
.hero-name {
  color: white;
}
.hero-title {
  color: white;
}
.hero-subtitle {
  font-size: 25px;
  color: white;
  line-height: 1.34;
  margin-bottom: 49px;
}
@media (max-width: 1250px) {
  .hero-subtitle {
    font-size: 19px;
    margin-bottom: 34px;
  }
}
@media (max-width: 768px) {
  .hero-subtitle {
    font-size: 16px;
    margin-bottom: 22px;
  }
}
@media (max-width: 550px) {
  .hero-subtitle {
    font-size: 11px;
  }
}
.hero-button {
  display: flex;
  gap: 31px;
  align-items: center;
}
@media (max-width: 1250px) {
  .hero-button {
    gap: 17px;
  }
}
@media (max-width: 850px) {
  .hero-button {
    gap: 11px;
  }
}
@media (max-width: 650px) {
  .hero-button {
    gap: 11px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.hero-btn {
  flex-shrink: 0;
}
.hero-btn:hover {
  cursor: pointer;
}
.hero .outline-btn {
  background-color: white;
  padding: 14px 29px 17px 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border: none;
}
.hero .outline-btn p {
  color: #214080;
  font-size: 26px;
  font-weight: 700 !important;
}
@media (max-width: 1250px) {
  .hero .outline-btn {
    padding: 11px 20px 13px 24px;
  }
  .hero .outline-btn p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .hero .outline-btn {
    padding: 9px 17px 11px 21px;
  }
  .hero .outline-btn p {
    font-size: 17px;
  }
}
@media (max-width: 550px) {
  .hero .outline-btn {
    padding: 6px 13px 8px 14px;
    border-radius: 7px;
    gap: 6px;
  }
  .hero .outline-btn p {
    font-size: 12px;
  }
}
.hero .primary-btn {
  border-radius: 15px;
  padding: 17px 35px 19px;
  font-size: 26px;
  font-weight: 700;
  color: white;
  border: none;
  background: linear-gradient(263deg, #214080 -5.59%, #2954b1 85.18%);
}
@media (max-width: 1250px) {
  .hero .primary-btn {
    padding: 12px 20px 13px 20px;
    font-size: 20px;
  }
}
@media (max-width: 1250px) {
  .hero .primary-btn {
    padding: 9px 17px 10px 18px;
    font-size: 17px;
  }
}
@media (max-width: 550px) {
  .hero .primary-btn {
    padding: 7px 12px 8px 13px;
    font-size: 12px;
    border-radius: 7px;
  }
}
.hero-img {
  max-width: 667px;
  width: 100%;
  height: 705px;
  position: relative;
}
.hero-img .phone-img {
  position: absolute;
  bottom: 24px;
  left: 13px;
}
@media (max-width: 1600px) {
  .hero-img {
    max-width: 600px;
    height: 635px;
  }
  .hero-img .phone-img {
    width: 585px;
    height: 485px;
    left: auto;
    right: auto;
  }
}
@media (max-width: 1250px) {
  .hero-img {
    max-width: 450px;
    height: 520px;
  }
  .hero-img .phone-img {
    width: 485px;
    height: 402px;
    bottom: 0;
  }
}
@media (max-width: 1000px) {
  .hero-img {
    max-width: 556px;
    height: 402px;
  }
  .hero-img .phone-img {
    left: auto;
    right: 0;
  }
}
@media (max-width: 850px) {
  .hero-img .phone-img {
    left: 0;
    right: auto;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .hero-img {
    height: 341px;
  }
  .hero-img .phone-img {
    left: 0;
    right: auto;
    bottom: 0;
    height: 341px;
  }
}
.hero-notification {
  position: absolute;
  border-radius: 15px;
  background-color: rgba(119, 158, 203, 0.31);
  -webkit-backdrop-filter: blur(9px);
          backdrop-filter: blur(9px);
  z-index: 10;
  max-width: 231px;
  width: 100%;
  color: white;
  padding-top: 8px;
}
.hero-notification__title {
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
  color: white;
}
.hero-notification .large {
  font-size: 24px;
  margin-left: 12px;
}
.hero-notification .small {
  font-size: 21px;
  margin-bottom: 5px;
}
.hero-notification__wrapper {
  padding: 0 17px 16px 16px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  position: relative;
}
.hero-notification__subtitle {
  font-size: 17px;
  font-weight: 400;
  color: white;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.3);
  max-width: 170px;
  width: 100%;
}
@media (max-width: 1440px) {
  .hero-notification {
    max-width: 199px;
  }
  .hero-notification .hero-notification__wrapper {
    padding: 0 17px 13px 14px;
  }
  .hero-notification .large {
    font-size: 21px;
  }
  .hero-notification .small {
    font-size: 18px;
  }
  .hero-notification .hero-notification__subtitle {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .hero-notification {
    max-width: 157px;
  }
  .hero-notification .hero-notification__wrapper {
    padding: 0 17px 13px 14px;
  }
  .hero-notification .large {
    font-size: 16px;
  }
  .hero-notification .small {
    font-size: 14px;
  }
  .hero-notification .hero-notification__subtitle {
    font-size: 12px;
  }
}
@media (max-width: 850px) {
  .hero-notification {
    max-width: 116px;
  }
  .hero-notification .hero-notification__wrapper {
    padding: 0 17px 10px 9px;
  }
  .hero-notification .large {
    font-size: 12px;
  }
  .hero-notification .small {
    font-size: 10px;
  }
  .hero-notification .hero-notification__subtitle {
    font-size: 9px;
  }
}
.hero-notification__wrap {
  display: flex;
  align-items: flex-end;
}
.hero .left {
  left: 0;
  bottom: 0;
}
.hero .right {
  right: 0;
  top: 0;
}
.hero .img-wrap {
  width: 30px;
  height: 18px;
  background-image: url("../../images/hero-right-white.svg");
  background-size: 180%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 3px;
}
.hero .img-wrap:hover {
  cursor: pointer;
}
.hero .arrow-wrap {
  background-image: url("../../images/arrow-right.svg");
  margin: 0;
}
@media (max-width: 768px) {
  .hero .arrow-wrap {
    width: 19px;
    height: 11px;
  }
}
.hero .arrow-bottom {
  margin-top: 81px;
}
@media (max-width: 1440px) {
  .hero .arrow-bottom {
    height: 66px;
    margin-top: 76px;
  }
  .hero .notification-img-wrap {
    position: absolute;
    right: 18px;
    bottom: 14px;
    width: 21px;
    height: 12px;
    background-size: 150%;
  }
}
.hero .tablet {
  display: none;
}
.hero .mobile {
  display: none;
}
@media (max-width: 1000px) {
  .hero .tablet {
    display: block;
  }
  .hero .desktop {
    display: none;
  }
  .hero .arrow-bottom {
    margin-top: 55px;
  }
  .hero .right {
    right: 27px;
    top: -50px;
  }
  .hero .left {
    left: 0;
    bottom: 75px;
  }
}
@media (max-width: 850px) {
  .hero .right {
    top: -50px;
  }
  .hero .left {
    bottom: 110px;
  }
}
@media (max-width: 768px) {
  .hero .arrow-bottom {
    margin-top: 22px;
  }
  .hero .left {
    bottom: 64px;
  }
  .hero .right {
    top: -20px;
  }
}
@media (max-width: 650px) {
  .hero .left {
    display: none;
  }
  .hero .right {
    display: none;
  }
  .hero .tablet {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */