.footer {
  background-color: #2954b1;
  padding: 73px 0 79px;
  position: relative;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-line__img {
    position: absolute;
    top: 49px;
    left: 0;
  }
  &-nav {
    &__list {
      display: flex;
      gap: 63px;
      a {
        font-size: 20px;
        color: white;
      }
    }
  }
  &-call {
    display: flex;
    align-items: center;
    &__number {
      color: white;
    }
  }
  &-wrap {
    display: flex;
    gap: 40px;
    max-width: 900px;
    justify-content: space-between;
  }
}
