.form-wrap {
    background-image: url("../../images/Artboard\ 1\ 2\ \(2\).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 588px;
    border-radius: 20px;
}