table {
  border-radius: 18px;
  background: #fff;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
  border-collapse: collapse;
  @media (max-width: 1440px) {
    border-radius: 15px;
  }
  @media (max-width: 1000px) {
    border-radius: 14px;
  }
  @media (max-width: 768px) {
    border-radius: 10px;
  }
  @media (max-width: 650px) {
    border-radius: 7px;
  }
  @media (max-width: 450px) {
    border-radius: 5px;
  }
}
thead tr th {
  // border-bottom: 1px solid rgba(41, 84, 177, 0.3);
}
.line {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(41, 84, 177, 0.3);
  top: 0;
  left: 0;
}
th {
  padding: 43px 0 22px;
  font-size: 27px;
  color: #2954b1;
  font-weight: 400;
  @media (max-width: 1600px) {
    padding: 31px 0 18px;
    font-size: 20px;
  }
  @media (max-width: 1000px) {
    padding: 29px 0 17px;
    font-size: 19px;
  }
  @media (max-width: 910px) {
    font-size: 15px;
  }
  @media (max-width: 768px) {
    padding: 23px 0 12px;
    font-size: 14px;
  }
  @media (max-width: 650px) {
    padding: 23px 0 12px;
    font-size: 10px;
  }
  @media (max-width: 450px) {
    padding: 23px 0 12px;
    font-size: 7px;
  }
}
thead tr th:first-child,
tbody tr td:first-child {
  padding-left: 83px;
  text-align: start;
  @media (max-width: 1850px) {
    padding-left: 56px;
  }
  @media (max-width: 768px) {
    padding-left: 44px;
  }
  @media (max-width: 700px) {
    padding-left: 24px;
  }
}
thead tr th:last-child,
tbody tr td:last-child {
  padding-right: 56px;
  height: 100%;
  @media (max-width: 768px) {
    padding-right: 44px;
  }
  @media (max-width: 700px) {
    padding-right: 24px;
  }
}
tbody tr:hover {
  background-color: rgba(41, 84, 177, 0.1);

  td {
    background-color: rgba(41, 84, 177, 0.1);
  }
}
td {
  position: relative;
  height: 109px;
  vertical-align: middle;

  @media (max-width: 1440px) {
    height: 83px;
    img {
      width: 53px;
      height: 53px;
    }
  }
  @media (max-width: 1000px) {
    height: 76px;
    img {
      width: 49px;
      height: 49px;
    }
  }
  @media (max-width: 768px) {
    height: 59px;
    img {
      width: 38px;
      height: 38px;
    }
  }
  @media (max-width: 650px) {
    height: 30px;
    img {
      width: 19px;
      height: 19px;
    }
  }
}

tbody td:not(:first-child) {
  width: 30%;
  text-align: center;
}
tbody td:first-child {
  padding-top: 14px;
  padding-bottom: 14px;
  .line {
    width: calc(100% - 83px);
    right: 0;
    left: auto;
    @media (max-width: 1850px) {
      width: calc(100% - 53px);
    }
    @media (max-width: 1000px) {
      width: calc(100% - 52px);
    }
    @media (max-width: 768px) {
      width: calc(100% - 41px);
    }
    @media (max-width: 700px) {
      width: calc(100% - 21px);
    }
  }
}
tbody td:last-child {
  .line {
    width: calc(100% - 56px);
    right: auto;
    left: 0;
    @media (max-width: 768px) {
      width: calc(100% - 41px);
    }
    @media (max-width: 700px) {
      width: calc(100% - 21px);
    }
  }
}
.text {
  position: relative;
  font-size: 27px;
  color: black;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 25px;
  @media (max-width: 1440px) {
    font-size: 21px;
    padding-right: 20px;
  }
  @media (max-width: 1000px) {
    font-size: 18px;
    padding-right: 18px;
  }
  @media (max-width: 900px) {
    font-size: 14px;
    padding-right: 15px;
  }

  @media (max-width: 650px) {
    font-size: 10px;
    padding-right: 10px;
  }
  @media (max-width: 450px) {
    font-size: 7px;
    padding-right: 7px;
  }
}
.information {
  img {
    position: absolute;
    top: 6px;
    right: 0;
    // transform: translateX(100%);
    width: 21px;
    height: 21px;
  }
  @media (max-width: 1440px) {
    img {
      width: 19px;
      height: 19px;
    }
  }
  @media (max-width: 1440px) {
    img {
      width: 18px;
      height: 18px;
    }
  }
  @media (max-width: 1000px) {
    img {
      width: 17px;
      height: 17px;
    }
  }
  @media (max-width: 768px) {
    img {
      width: 12px;
      height: 12px;
    }
  }
  @media (max-width: 650px) {
    img {
      width: 9px;
      height: 9px;
    }
  }
  @media (max-width: 450px) {
    img {
      width: 7px;
      height: 7px;
    }
  }
  &:hover {
    cursor: pointer;
    .information-text {
      display: block;
    }
  }
  &-text {
    position: absolute;
    display: none;
    top: 6px;
    right: -21px;
    transform: translateX(100%);
    z-index: 10;
    padding: 34px 21px 32px;
    font-size: 21px;
    filter: drop-shadow(0px 0px 32.5px rgba(0, 0, 0, 0.2));
    background: white;
    border-radius: 20px;
    border-top-left-radius: 0px;
    @media (max-width: 1440px) {
      font-size: 21px;
      padding: 25px 15px 25px;
      border-radius: 18px;
      border-top-left-radius: 0px;
    }
    @media (max-width: 1000px) {
      font-size: 18px;
      padding: 20px 15px 20px;
      border-radius: 16px;
      border-top-left-radius: 0px;
    }
    @media (max-width: 900px) {
      font-size: 14px;
      right: -15px;
      padding: 15px 10px 15px;
      border-radius: 12px;
      border-top-left-radius: 0px;
    }

    @media (max-width: 650px) {
      font-size: 10px;
      top: 3px;
      right: -10px;
      border-radius: 7px;
      border-top-left-radius: 0px;
    }
    @media (max-width: 450px) {
      font-size: 7px;
      right: -7px;
      border-radius: 5px;
      border-top-left-radius: 0px;
    }
  }
}
.table {
  height: 100%;
  max-height: 100%;

  &-wrap {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 16px;
    &:hover {
      cursor: pointer;
    }
    &__text {
      font-size: 24px;
      color: #2954b1;
    }
  }
  &-line {
    width: 100%;
    height: 1px;
    background-color: rgba(60, 99, 184, 0.5);
  }
  .table-overflow {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: -1;
  }
}
.hidden {
  height: 473px;
  overflow-y: hidden;
  position: relative;
  @media (max-width: 1440px) {
    height: 393px;
  }
  @media (max-width: 1000px) {
    height: 360px;
  }
  @media (max-width: 768px) {
    height: 279px;
  }
  .table-overflow {
    display: block;
    z-index: 20;
    background: linear-gradient(
      180deg,
      rgba(241, 247, 255, 0) 0%,
      #f1f7ff 100%
    );
  }
}
.table-line,
section {
  @media (max-width: 1440px) {
    margin-bottom: 120px;
  }
  @media (max-width: 1000px) {
    margin-bottom: 70px;
  }
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}
.table-wrap {
  font-size: 27px;
  @media (max-width: 1600px) {
    .table-btn {
      font-size: 20px;
    }
    img {
      width: 12px;
    }
  }
  @media (max-width: 1000px) {
    .table-btn {
      font-size: 19px;
    }
    img {
      width: 11px;
    }
  }
  @media (max-width: 910px) {
    .table-btn {
      font-size: 15px;
    }
  }
  @media (max-width: 768px) {
    .table-btn {
      font-size: 14px;
    }
    img {
      width: 9px;
    }
  }
  @media (max-width: 650px) {
    .table-btn {
      font-size: 10px;
    }
    img {
      width: 6px;
    }
  }
  @media (max-width: 450px) {
    .table-btn {
      font-size: 7px;
    }
    img {
      width: 4px;
    }
  }
}
